<article class="col s10 offset-s1 z-depth-2">
  <h1 class="title">
    <%= post.title %>
    <span class="chip">Women</span><span class="chip">Communication</span>
  </h1>
  <i class="material-icons">edit</i>
  <span class="author"><%= post.authorName %></span>
  <span class="date right"
    ><%= post.date.getDate() %> - <%= post.date.getMonth() %> - <%=
    post.date.getFullYear() %>
  </span>
  <i class="material-icons right">today</i>
  <p class="body">
    <%= post.body%>
  </p>
  <a href="#/" class="waves-effect waves-light btn pink accent-2 more"
    >Read More</a
  >
  <% if(editable) { %>
  <a
    href="/user/delete<%= post._id %>"
    class="waves-effect waves-light btn-floating btn-large red right"
  >
    <i class="material-icons small">close</i>
  </a>
  <a
    href="#/"
    class="waves-effect waves-light btn-floating btn-large pink accent-2 right"
  >
    <i class="material-icons small">edit</i> </a
  ><% } %>
</article>
