<div class="col s3 profile grey lighten-1">
  <h4 class="sub-head pink lighten-1 white-text valign-wrapper z-depth-4">
    PROFILE
    <i class="material-icons medium">perm_identity</i>
  </h4>
  <div class="card z-depth-3">
    <div class="card-image">
      <img src="/imgs/download.png" alt="" />
    </div>
    <div class="card-content">
      <span class="card-title"><%= user.username %></span>
      <p>
        I am a very simple card. I am good at containing small bits of
        information.I am convenient because I require little markup to use
        effectively.
      </p>
      <div class="chip left z-depth-2">
        Followers - <%=user.followers.length %>
      </div>
      <div class="chip right z-depth-2">
        Following - <%=user.following.length %>
      </div>
    </div>
    <% if(!admin) { %>
    <div class="card-action-box">
      <% if(user.followers.includes(viewer._id)) { %>
      <a
        href="/user/unfollow<%=user.id %>"
        class="btn-floating btn-large waves-effect waves-light pink lighten-1"
        ><i class="material-icons">remove</i>
      </a>
      <span>Unfollow</span>
      <% } else { %>
      <a
        href="/user/follow<%=user.id %>"
        class="btn-floating btn-large waves-effect waves-light pink lighten-1"
        ><i class="material-icons">add</i>
      </a>
      <span>Follow</span>
      <% } %>
    </div>
    <% } %>
  </div>
</div>
