<%- include('./partials/nav.ejs'); %>
<section class="sec-1" id="sec-1">
  <div class="row">
    <%- include('./partials/sidebar.ejs',{admin:true}); %>
    <div class="col s9 offset-s3 content">
      <div class="row">
        <div class="col s12 main-content">
          <ul class="tabs tabs-fixed-width">
            <li class="tab">
              <a class="active" href="#feed">Feed</a>
            </li>
            <li class="tab">
              <a href="#dashboard">DashBoard</a>
            </li>
            <li class="tab">
              <a href="#workspace">WorkSpace</a>
            </li>
            <li class="tab">
              <a href="#edit-profile">Edit Profile</a>
            </li>
          </ul>
        </div>
        <div id="feed" class="col s12">
          <%- include('./partials/messages.ejs'); %> <%-
          include('./partials/feed.ejs'); %>
        </div>
        <div id="dashboard" class="col s12">
          <%- include('./partials/dashboard.ejs'); %>
        </div>
        <div id="workspace" class="col s12">
          <%- include('./partials/workspace.ejs',{title:"Add Article"}); %>
        </div>
        <div id="edit-profile" class="col s12"></div>
      </div>
    </div>
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  window.addEventListener("DOMContentLoaded", e => {
    var instance = M.Tabs.init(document.querySelector(".tabs"), {});

    //Function to submit the edit form
    function submit_form2(id) {
      var frames = window.frames;
      var theForm = document.getElementById(id);
      theForm.elements["body"].value = frames[id].document.body.innerHTML;
      theForm.querySelector(".editor").name = "blank";
      theForm.submit();
    }

    //Setting up the edit button to work
    document.querySelectorAll(".edit").forEach(btn => {
      btn.addEventListener("click", e => {
        var art = e.target.parentElement.parentElement;
        art.querySelector(".more").click();
        var editbox = art.querySelector(".editbox");
        if (art.querySelector(".editbox").classList.contains("hide")) {
          //Showing the hidden form
          art.querySelector(".editbox").classList.remove("hide");

          //Setting eventlistner to the save btn
          art.querySelector(".submit2").addEventListener("click", e => {
            submit_form2(`${art.querySelector(".editor").name}`);
          });

          //Replacing content in iframe with the current post body
          window.frames[
            `${art.querySelector(".editor").name}`
          ].document.body.innerHTML = art.querySelector(".bodyarea").value;

          e.target.innerHTML = "done";
        } else {
          art.querySelector(".editbox").className += " hide";
          e.target.innerHTML = "edit";
        }
      });
    });

    //Setting click listners for read more
    document.querySelectorAll(".more").forEach(btn => {
      btn.addEventListener("click", e => {
        var body = e.target.parentElement.querySelector(".body");
        if (body.style.maxHeight != "none") {
          body.style.maxHeight = "none";
          e.target.innerHTML = "Read Less";
        } else {
          body.style.maxHeight = "100px";
          e.target.innerHTML = "Read More";
        }
      });
    });
  });
</script>
